body {
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#sec-formulario{
    min-width: 200px;
    background: linear-gradient(135deg,#f37049 10%,#422fb5)
    
}
#secaoPesquisa {
    min-width: 300px;
    flex-grow: 1;
}
img {
    padding-top: 20px;
    
}

h1 {    
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 48px;
    width: 100%;
    
}

sub {
    margin-top: 0px;
    align-items: baseline;
    font-size: 18px;
    vertical-align: bottom;
    font-family: 'ubuntu', sans-serif;
    font-weight: lighter;
}

.subtitulo {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    
}

form {
    padding-top: 30px;
    padding-bottom: 35px;
    color: #ffffff;
    width: 550px;
    height: 950px;
    left: 0px;
    top: 0px;
    background: linear-gradient(135deg,#f37049 10%,#422fb5);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-style: 'regular';
    font-size: mixed;
    line-height: 100%;      
}
input, select, textarea, label {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    resize: none;
}

#input-categoria {
    width: 89%;
}
#btn-reset-limpa button{
    background-image: linear-gradient(135deg,#f37049 10%,#422fb5);
    font-family: 'ubuntu', sans-serif;
    font-size: 25px;
    /* align-items: center; */
    width: 200px;
    margin: 20px;
    
    border-radius: 15px;
    /* padding: 10px; */
    gap: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
    flex-grow:  1;
}
#btn-reset-limpa {
    display: flex;

}

#cards {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;    
    
}
.conteudo {   
    
    width: 280px; 
    margin: 5px;    
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;    
    border-radius: 15px;

}

.conteudo:hover {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #442F2F;   
}

#secaoPesquisa {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
#id-pesquisa {
    width: 30px;
    font-size: 10px;
}
#input-busca {
    border-radius: 120px;
    width: 700px;
    height: 30px;
}
#pesquisa-apaga {
    display: flex;
    justify-content: left;
    gap: 4px;
}
#pesquisa-apaga button {
    background: transparent;
    align-content: center;
    max-width: 50px;
    max-height: 50px;
    flex-grow: 1;
    border-radius: 100%;
    margin-top: 8px;
}
.lupa {
    width: 20px;
}
.icon-xis {
    width: 20px;
    align-self: flex-start;
}
#lista-dicas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s;    
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    min-width: 450px;
    min-height: 750px;
}
#lista-dicas:hover {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
#lista-dicas p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 400px;
    margin-right: 50px;
    text-align: left;
    
}
ul, li { 
    border: 1px solid black;
    list-style: none;
    margin-bottom: 35px;
    margin-top: 10px;
}
#lista-formulario {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
    transition: 0.3s; 
    border-radius: 15px;
     
    margin-top: 5px; 

}
